body {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
}

input,
button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

button {
  cursor: pointer;
}
#banner {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto 20px auto;
}
